// baner
.baner {
    // padding-top: 0;
    padding-top: 70px;
    @media(max-width: 991px){
        padding-top: 50px;
    }
    &-item {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 58px;
        padding-bottom: 63px;
        padding-right: 45px;
        border-radius: 5px;
        @media(max-width: 991px){
            padding-bottom: 43px;
            padding-top: 200px;
            padding-right: 0;
        }

        .h2 {
            color: #fff;
            max-width: 435px;
            line-height: 36px;
            margin-bottom: 0;
            @media(max-width: 991px){
                font-size: 32px;
            }

            span {
                color: $red-color;
            }
        }

        &__content {
            column-gap: 42px;
            @media(max-width: 991px){
                flex-direction: column;
                align-items: flex-start;
                padding-left: 27px;
                padding-right: 27px;
                row-gap: 15px;
            }

        }
    }

    .pagination {
        justify-content: center;
        position: unset;
        margin-top: 25px;
    }

}

.baner-social {
    .baner-item__content {
        column-gap: 85px;
        padding-right: 0;
        padding-left: 0;
        @media(max-width: 991px){
            row-gap: 25px;
        }
    }
    .baner-item-logo {
        @media(max-width: 991px){
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
        }
    }
    .baner-item {
        padding-left: 62px;
        @media(max-width: 991px){
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 70px;
        }
        .h2 {
            max-width: 550px;
            font-size: 32px;
            @media(max-width: 991px){
                text-align: center;
                font-size: 30px;
            }
        }
    }
    .baner-item__btn {
        display: flex;
        column-gap: 10px;
        padding-left: 20px;
        padding-right: 20px;     
        @media(max-width: 991px){
            justify-content: center;
        }
  
        img {
            width: 20px;
        }
    }
}
.baner-item-logo {
    margin-right: auto;
}
.baner-activation {
    padding-top: 0;
    .baner-item {
        @media(max-width: 1199px){
            padding-left: 30px;
        }
        @media(max-width: 991px){
            padding-top: 40px;       
            padding-left: 0;    
        }
    }
    .baner-item__content {
        @media(max-width: 991px){
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .baner__descr {
        color: #fff;
        opacity: .5;
        p {
            margin-bottom: 5px;
        }
       
       
    }
}