/* Hamburger Menu */
.hamburger {
  display: none;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  min-width: 15px;
  // margin-right: 20px;
  cursor: pointer;
  position: relative;
  &.active {
    background: url('@img/icons/close.svg') no-repeat center center/cover;
  }

  // transition: background 0.2s linear;  
  display: none;

  @media (max-width: 991px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 2px;
  width: 100%;
  background: #FF1F1F;
  border-radius: 10px;
  transition: opacity .2s linear;
}
.hamburger .bottom-bun {
  width: 70%;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}

