// contacts
.contacts {
    padding-top: 0;
    @media(max-width: 991px){
        padding-bottom: 80px;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 35px;
        margin-top: 50px;
        margin-bottom: 80px;
        @media(max-width: 991px){
            margin-top: 35px;
            row-gap: 25px;
            column-gap: 15px;
            margin-bottom: 30px;
        }
    }

    &-item {
        grid-column: 3 span;
        @media(max-width: 991px){
            grid-column: 6 span;
        }
        @media(max-width: 575px){
            grid-column: 12 span;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            padding-bottom: 24px;
        }

        &__title {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 5px;
        }

        &__descr {
            margin-bottom: 28px;
            color: #000;
            opacity: .5;
            line-height: 20px;
        }

        &__phone {
            transition: color .2s linear;

            &:hover {
                color: $red-color;
            }
        }
    }

    .map {
        img {
            height: 500px;
            object-fit: cover;
            @media(max-width: 575px){
                height: 400px;
            }
        }
    }
}

.contacts-page {
    padding-bottom: 0;
    .contacts-grid {
        margin-bottom: 0;
        row-gap: 35px;
        .contacts-item {
            padding-top: 32px;
            border-top: 1px solid rgba($color: #000000, $alpha: .15);
        }
    }
}
.contacts-wrapper {
    padding-top: 75px;
}