// reviews
.reviews {
    background-color: #F8F8F8;

    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 50px;
        align-items: center;
        @media(max-width: 1199px){
            column-gap: 20px;
        }
        @media(max-width: 991px){
            display: flex;
            flex-direction: column;
            row-gap: 21px;
        }
    }

    &-slider {
        background-color: #fff;
        grid-column: 8 span;
        width: 100%;        
        padding-top: 40px;
        padding-bottom: 44px;      
        border-radius: 5px;
        @media(max-width: 991px){
            padding-bottom: 25px;
            padding-top: 25px;
        }
    }
    &-slide {
        &__top {
            margin-bottom: 37px;
            padding-left: 40px;
            padding-right: 35px;
            @media(max-width: 991px){
                padding-left: 26px;
                padding-right: 26px;
            }
        }
        &__date {
            @media(max-width: 991px){
                opacity: .5;
            }
        }
        &__name {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;     
            @media(max-width: 991px){
                font-size: 16px;
                line-height: 25px;
            }     
        }
        &__text {
            line-height: 22px;
            padding-left: 65px;
            opacity: .75;
            position: relative;
            padding-bottom: 35px;
           
            padding-right: 35px;
            border-bottom: 1px solid rgba(#000000, .05);
            @media(max-width: 991px){
                padding-left: 45px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 40px;
                top: -15px;
                width: 85px;
                height: 60px;
                background: url('@img/reviews/quote.svg') no-repeat center center / 85px;
                z-index: -1;
                @media(max-width: 991px){
                    left: 30px;
                }
            }
        }
    }

    &-company {
        grid-column: 4 span;
        @media(max-width: 991px){
            width: 100%;
        }
    }

    .company-item {
        column-gap: 35px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 34px;
        border-radius: 5px;
        background: #F2F2F2;
        padding-right: 10px;
        @media(max-width: 1199px){
            padding-left: 20px;
            padding-bottom: 20px;
        }
        &:not(:last-child){
            margin-bottom: 25px;
            @media(max-width: 991px){
                margin-bottom: 21px;
            }
        }

        &__num {
            font-family: $font-family-title;
            font-size: 72px;
            line-height: 72px;
            text-transform: uppercase;
            padding-top: 10px;
        }

        &__logo {
            margin-bottom: 5px;
            width: 69px;
        }
        &__link {
            color: $red-color;
            line-height: 26px;
            transition: color .2s linear;
            &:hover {
                color: #000;
            }
        }

        &__content {}
    }
}
.reviews-slide__date-wrapper {
    column-gap: 28px;
    @media(max-width: 767px){
        width: 100%;
        justify-content: space-between;
    }
}
.reviews-slide__name-wrapper {
    @media(max-width: 767px){
        width: 100%;
        justify-content: space-between;
        column-gap: 10px;
    }
}